/* layout */
body {
	font-size: 62.5%; /* 10pt in most browsers, which makes ems calculations easy */
	margin: 1em;
}

#main {
}

/* page header */
#header {
	margin-top: 0.5em;
}

.logo {
	display: inline-block;
	padding: 1em 1em 0;
}

/* primary nav */
.nav {
	background-color: #161616;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
	-moz-border-radius: 6px;
 -webkit-border-radius: 6px;
		 border-radius: 6px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}

.nav li {
	float: left;
}

.nav li.navigation_active,
.nav li.subnavigation_active {
	font-weight: bold;
}

.nav a:link, .nav a:active, .nav a:visited {
	color: #444;
	display: block;
	padding: 0.25em 1em;
	text-decoration: none;
}

.nav a:hover {
	text-shadow: 1px 1px 3px #888;
}

/* content area */
#main > * {
	margin: 2em;
}

/* enhancejs toggle widget */
.enhanced_toggleResult {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

/* list pages */
.list table {
	border: 1px solid #ccc;
	width: 100%;
}

/* forms */
form {
	font-size: 1.5em;
}

form ul {
	list-style-type: none;
	margin: 0;
}

label {
	margin-top: 1em;
}

label, input, select, textarea {
	display: block;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	outline: none;
	padding: 2px 4px;
	-moz-border-radius: 3px;
 -webkit-border-radius: 3px;
		 border-radius: 3px;
}

input:focus, select:focus, textarea:focus {
	-moz-box-shadow: 0px 0px 1px 1px #b2d1ff;
 -webkit-box-shadow: 0px 0px 1px 1px #b2d1ff;
		 box-shadow: 0px 0px 1px 1px #b2d1ff;
	border: 1px solid #b2d1ff;
	outline: none;
}

fieldset.buttons {
	padding: 1em;
	text-align: right;
}

fieldset.buttons input {
	display: inline-block;
}