html * {
	margin: 0;
}

/* GENERAL */

.spinner {
	padding: 5px;
	position: absolute;
	right: 0;
}

a#grailsLogo {
	display: inline-block;
	padding: 20px;
}

h1 {
	color: #48802c;
	font-weight: normal;
	margin: .8em 0 .3em 0;
}

ul {
	padding-left: 15px;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 16px verdana, sans-serif;
	padding: 2px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/css/PIE.htc);
}

select {
	padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid #b2d1ff;
}

/* LAYOUT */

#container {
	max-width: 960px;
	margin: 0 auto;
}

section.list, section.dialog {
	margin: 0 auto 10px auto;
	padding: 0 20px;
}

/* NAVIGATION MENU */

nav {
	background: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	*background: none;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	border: 1px solid #ccc;
	padding: 7px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/css/PIE.htc);
}

nav ul {
	padding: 0;
	*zoom: 1;
}

nav ul li {
	display: inline-block;
	padding: 0 5px;
	*float: left;
}

nav a {
	color: #333;
	display: inline-block;
	font-weight: bold;
	padding: 4px 6px;
	text-decoration: none;
}

nav a.home {
	background: url(/images/skin/house.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

nav a.list {
	background: url(/images/skin/database_table.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

nav a.create {
	background: url(/images/skin/database_add.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

/* MESSAGES AND ERRORS */

aside.message {
	background: #f3f8fc url(/images/skin/information.png) 8px 50% no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px
}

aside.errors {
	background: #fff3f3;
	border: 1px solid red;
	color: #cc0000;
	margin: 10px 0 5px 0;
	padding: 5px 0 5px 0;
}

aside.errors ul {
	list-style: none;
	padding: 0;
}

aside.errors li {
	background: url(/images/skin/exclamation.png) 8px 0% no-repeat;
	line-height: 16px;
	padding-left: 30px;
}

select.error, input.error {
	border: 1px solid #f44;
}

fieldset ul li .errorMessage {
	background: url(/images/skin/exclamation.png) 8px 5px no-repeat transparent;
	clear: both;
	color: red;
	padding: 5px 5px 5px 30px;
}

/* TABLES */

table {
	border: 1px solid #ccc;
	width: 100%
}

tr {
	border: 0;
}

td, th {
	line-height: 12px;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

th {
	background: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	*background: none;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	line-height: 18px;
}

th a:link, th a:visited, th a:hover {
	color: #333;
	display: block;
	width: 100%;
}

th.asc a, th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}

th.asc a {
	background-image: url(/images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(/images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #fff;
}

/* LIST */

.list th, .list td {
	border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
	background: #b2d1ff;
}

/* PAGINATION */

nav.paginateButtons {
	border: 1px solid #ccc;
	border-top: 0;
	font-size: 10px;
	overflow: hidden;
	text-align: center;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	behavior: url(/css/PIE.htc);
}

nav.paginateButtons a {
	margin: 0 3px;
	padding: 2px 6px;
}

nav.paginateButtons .currentStep {
	color: #aaa;
	padding: 2px 3px;
}

/* DIALOG */

.dialog fieldset {
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/css/PIE.htc);
}

.dialog fieldset ul {
	list-style-type: none;
	padding: 20px;
}

.dialog fieldset ul li {
	padding: 5px 6px;
}

.dialog fieldset ul li label {
	color: #888;
	display: block;
	margin-left: 7px; /* lines up with input content which have border radius 5px, padding-left 2px */
	white-space: nowrap;
}

.dialog fieldset ul li label.required {
	color: #444;
	font-weight: bold;
}

.dialog dl {
	border: 1px solid #ccc;
	padding: 20px;
	_zoom: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/css/PIE.htc);
}

.dialog dl dt,
.dialog dl dd {
	padding: 0;	
}

.dialog dl dt {
	color: #888;
	white-space: nowrap;
}

.dialog dl dd {
	font: 16px verdana, sans-serif;
	margin-bottom: 10px;
}

/* ACTION BUTTONS */

fieldset.buttons {
	background: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	*background: none;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	border: 1px solid #ccc;
	color: #666;
	margin-top: 5px;
	overflow: hidden;
	padding: 5px 2px;
}

fieldset.buttons input {
	border: 0;
	font: bold 13px sans-serif;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
}

fieldset.buttons input.delete {
	background: transparent url(/images/skin/database_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}

fieldset.buttons input.edit {
	background: transparent url(/images/skin/database_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}

fieldset.buttons input.save {
	background: transparent url(/images/skin/database_save.png) 5px 50% no-repeat;
	padding-left: 28px;
}
